<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sau.mapper.ExperienceMapper">
    <resultMap id="industryExperience" type="IndustryExperience">
        <id property="id" column="id" javaType="Integer"/>
        <result property="title" column="title" javaType="String"/>
        <result property="description" column="description" javaType="String"/>
        <result property="time" column="time" javaType="java.sql.Timestamp"/>
        <result property="location" column="location" javaType="String"/>
        <result property="teacherId" column="teacher_id" javaType="Integer"/>
    </resultMap>
    <select id="findExperienceByTeacherId" resultMap="industryExperience">
        SELECT *
        FROM industry_experience
        where teacher_id = #{teacherId}
    </select>
</mapper>