<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sau.mapper.TeacherMapper">
    <resultMap id="teacher" type="Teacher">
        <id property="id" column="id" javaType="Integer"/>
        <result property="name" column="name" javaType="String"/>
        <result property="sex" column="sex" javaType="String"/>
        <result property="phoneNumber" column="phone_number" javaType="String"/>
        <result property="address" column="address" javaType="String"/>
        <result property="academicDegree" column="academic_degree" javaType="String"/>
        <result property="title" column="title" javaType="String"/>
    </resultMap>
    <select id="findAllTeacher" resultMap="teacher">
        SELECT *
        FROM teacher
    </select>
    <select id="findTeacherById" resultMap="teacher">
        SELECT id, name, sex,
               phone_number, address, academic_degree,
               academic_degree, title
        FROM teacher
        where id = #{id}
    </select>
    <delete id="deleteTeacherById">
        DELETE FROM
            teacher
        WHERE
            id = #{id}
    </delete>
    <update id="updateTeacher" parameterType="com.sau.entity.Teacher">
        update teacher
        set
        <trim  suffixOverrides="," >
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="sex != null">
                sex=#{sex},
            </if>
            <if test="phoneNumber != null">
                phone_number=#{phoneNumber},
            </if>
            <if test="address != null">
                address=#{address},
            </if>
            <if test="academicDegree != null">
                academic_degree=#{academicDegree},
            </if>
            <if test="title != null">
                title=#{title},
            </if>
        </trim>
        where id = #{id}
    </update>
    <insert id="insertTeacher" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id" parameterType="com.sau.entity.Teacher">
        INSERT INTO
            teacher(name, sex, phone_number, address, academic_degree, title)
        VALUES
            (#{name},#{sex},#{phoneNumber},#{address},#{academicDegree},#{title})
    </insert>
</mapper>